
.navbar-logo img {
  max-height: 45px; /* Ajuste la taille selon tes besoins */
  width: auto;
}

.navbar {
  background-color: #304B95 !important; /* Remplace par la couleur souhaitée */
  border-bottom: 2px solid #304B95; /* Optionnel : bordure sous la barre */
}

.navbar-brand {
  color: white !important; /* Couleur du titre */
  font-weight: bold !important; /* Met le titre en gras */
}

/* Arrondir les boîtes Flexdashboard */
#introduction {
  border-radius: 20px !important;
}
# {
  border-radius: 20px !important;
}
#résultats-danalyse {
  border-radius: 20px !important;
}
#données-et-méthodologie {
  border-radius: 20px !important;
}
#conclusions {
  border-radius: 20px !important;
}
#équivalence-monétaire {
  border-radius: 20px !important;
}



body {
  text-align: justify;
  background: #D3DBE8;
  line-height: 1.2 !important;
}

/* Custom l'apparence des hyperliens du doc */
a:link { /*lien hyper texte*/
    color: #304B95;
}
a:hover { /*souris au-dessus du lien hyper texte*/
    color: #304B95;
}
a:visited { /*lien visité*/
    color: #304B95;
}
